@model IEnumerable<DatabaseAdministration.Models.Customer_Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    Customer Account is read only through the DBA tools because it does not contain a primary key.
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account_Id)
            </td>
        </tr>
}
    </tbody>
</table>
