@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
@if (SignInManager.IsSignedIn(User))
{
    <p>Welcome, @User.Identity.Name.</p>
}
@* This should never happen, because the controller checks to see if the user is logged in. However, it's nearly
free to leave it here just in case something goes wrong. *@
else
{
    <p>Welcome, please log in to continue.</p>
}
</div>
