@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<link rel="stylesheet" media="screen and (min-device-width: 800px)" href="~/css/LoginDesktop.css" />
<link rel="stylesheet" media="screen and (max-width: 799px)" href="~/css/LoginMobile.css" />

<div class="loginContainer">
    <div class="loginInformation">
        <img class="loginInformation-BG" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.usnews.com%2Fcmsmedia%2F0c%2F93%2Fe962a1d6467b8873be05cb374c47%2F140411-customerbank-stock.jpg&f=1&nofb=1" />

        <div class="loginInformation-Content">
            <div class="loginInformation-Label">
                <label class="font-weight-bold">Welcome!</label>
                <div class="loginPartitionLine" style="background-color: white;"></div>
            </div>

            <p class="font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla aliquet porttitor lacus luctus accumsan tortor.</p>
        </div>
    </div>

    <div class="loginForm">
        <div class="loginForm-Label">
            <label class="font-weight-bold">@ViewData["Title"]</label>
            <div class="loginPartitionLine"></div>
        </div>

        <p>Please check your email to reset your password.</p>
    </div>