@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .loginContainer {
        height: 400px;
        width: 800px;
        margin: 100px auto 0 auto;
        filter: drop-shadow(0 0 1rem #999999);
    }

    .loginInformation, .loginForm {
        float: left;
        height: 100%;
        width: 50%;
        padding: 50px 75px 50px 75px;
    }

    .loginInformation {
        overflow: hidden;
        position: relative;
        background-color: #4FA800;
    }

    .loginInformation-BG {
        opacity: 0.1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .loginInformation-Content {
        color: white;
        position: relative;
    }

    .loginForm {
        background-color: #f1f1f1;
        font-size: 14px;
        text-align: center;
    }

    .loginForm-User, .loginForm-Pass {
        text-align: left;
        width: 90%;
    }

    .loginForm-User {
        margin-bottom: 20px;
    }

    .loginForm-Pass {
        margin-bottom: 20px;
    }

    .loginInformation-Label, .loginForm-Label {
        font-size: 22px;
        text-align: center;
        width: 100%;
    }

    .loginForm-Show {
        margin-top: 5px;
    }

    .borderLine {
        text-align: center;
        background-color: darkgray;
        height: 1px;
        width: 100%;
        margin-bottom: 25px;
    }
</style>

<div class="loginContainer">
    <div class="loginInformation">
        <img class="loginInformation-BG" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.usnews.com%2Fcmsmedia%2F0c%2F93%2Fe962a1d6467b8873be05cb374c47%2F140411-customerbank-stock.jpg&f=1&nofb=1" />

        <div class="loginInformation-Content">
            <div class="loginInformation-Label">
                <label class="font-weight-bold">Welcome!</label>
                <div class="borderLine" style="background-color: white;"></div>
            </div>

            <p class="font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla aliquet porttitor lacus luctus accumsan tortor.</p>
        </div>
    </div>

    <div class="loginForm">
        <center>
            <div class="loginForm-Label">
                <label class="font-weight-bold">Login</label>
                <div class="borderLine"></div>
            </div>


            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group" style="text-align: left;">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group" style="text-align: left;">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>

        </center>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
