@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>Select the database table:</p>
    <ul>
        <li><a class="text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a></li>
        <li><a class="text-dark" asp-area="" asp-controller="Account" asp-action="Index">Account</a></li>
        <li><a class="text-dark" asp-area="" asp-controller="Financial_Transaction" asp-action="Index">Financial Transaction</a></li>
        <li><a class="text-dark" asp-area="" asp-controller="Notification" asp-action="Index">Notification</a></li>
    </ul>
</div>
